<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<span class="breadcrumb">Lista de Produtos</span>
			<div class="right">
				<a routerLink="novo" class="waves-effect waves-light btn red darken-1">Novo Produto</a>
			</div>
		</div>
	</div>
</nav>
<div class="row">
	<div class="col s12">
		<form action="#">
			<table class="bordered highlight">
				<thead>
					<tr>
						<th data-field="check">
							<input type="checkbox" checked="checked" />
						</th>
						<th data-field="nome">Produto</th>
						<th data-field="qntdeMinima">Qntde. Minima</th>
						<th data-field="qntdeAtual">Qntde. Atual</th>
						<th data-field="valorVenda">Valor Venda</th>
						<th data-field="valorCusto">Valor Custo</th>
						<th data-field="dataCreate">Data Criado</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let produto of produtos" [routerLink]="[produto._id]">
						<td><input type="checkbox"></td>
						<td>
							<img src="{{ ('http://127.0.0.1:8080/uploads/' || 'https://extinfire-backend-v2-muriloeduardo.c9users.io/uploads/') + (!produto.images[0] ? 'sem-foto.jpg' : produto.images[0]) }}" class="circle img-table">
							{{ produto.nome }}
						</td>
						<td>{{ produto.qntde_minima || '---' }}</td>
						<td>{{ produto.qntde_atual || '---'  }}</td>
						<td>{{ produto.valor_venda || '---'  }}</td>
						<td>{{ produto.valor_custo || '---'  }}</td>
						<td>{{ produto.updatedAt }}</td>
						<td><i class="material-icons">&#xE315;</i></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>