<div class="section"></div>
<div class="card-panel right-align">
	<a class="waves-effect waves-light btn red darken-1 modal-trigger" (click)="openModal()"><i class="material-icons right">&#xE146;</i>Novo Produto</a>
</div>
<div class="divider"></div>
<div class="row">
	<div class="col s12" *ngIf="!produtos.length">
		<div class="section"></div>
		<div class="center-align">
			<div class="grey-text text-lighten-2">
				<h2>Sem nenhum produto aqui <br><small>Clique em Novo Produto</small></h2>
				<i class="material-icons big">&#xE814;</i>
			</div>
		</div>
	</div>
	<div *ngIf="produtos.length">
		<ul class="collection with-header">
			<li class="collection-header"><h4>Produtos</h4></li>
			<li class="collection-item avatar" *ngFor="let produto of produtos">
				<div class="left">
					<div class="firs-letter-users circle red darken-1">
						<img src="http://materializecss.com/images/sample-1.jpg">
					</div>
					<span class="title"><strong>{{ produto.nome }}</strong></span>
					<p>R$ {{ produto.valor_venda | number:'.2-2' }}</p>
					<p>Quantidade: {{ produto.qntde_atual }}</p>
				</div>
				<a class="waves-effect waves-light btn grey darken-4 secondary-content" (click)="deleteProduto(produto._id)">Excluir</a>
				<a class="waves-effect waves-light btn red darken-1 secondary-content" (click)="editProduto(produto)">Editar</a>
				<div class="secondary-content">
					<div class="chip red" *ngIf="produto.qntde_atual <= 0">Acabou</div>
					<div class="chip orange" *ngIf="produto.qntde_atual <= produto.qntde_minima&&produto.qntde_atual > 0">Está acabando</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
	<header class="modal-header">
		<h4>Adicionar Novo Produto</h4>
		<p>Seu estoque será contabilizado a cada novo serviço</p>
		<div class="divider"></div>
	</header>
	<form (submit)="!nome?novoProduto($event):updateProuto()">
		<div class="modal-content">
			<div class="row">
				<div class="col s7">
					<div class="section"></div>
					<!-- <div class="row">
						<div class="col-s12">
							<div class="input-field">
								<input id="imageProduto" type="file" (change)="fileEvent($event)" name="imageProduto">
								<label for="imageProduto">Imagem do produto</label>
							</div>
						</div>
					</div> -->
					<div class="row">
						<div class="col-s12">
							<div class="input-field">
								<input id="nomeNovoProduto" type="text" [(ngModel)]="nome" name="nomeNovoProduto" required="" aria-required="true">
								<label for="nomeNovoProduto">Nome do produto</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<div class="input-field">
								<input id="valorVendaProduto" type="number" step="0.01" min="0.01" max="9999" [(ngModel)]="valor_venda" name="valorVendaProduto" >
								<label for="valorVendaProduto">Valor de venda do produto</label>
							</div>
						</div>
						<div class="col s6">
							<div class="input-field">
								<input id="valorCustoProduto" type="number" step="0.01" min="0.01" max="9999" [(ngModel)]="valor_custo" name="valorCustoProduto" >
								<label for="valorCustoProduto">Valor de custo do produto</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<div class="input-field">
								<input id="qntdeMinProduto" type="number" [(ngModel)]="qntde_minima" name="qntdeMinProduto" >
								<label for="qntdeMinProduto">Quantidade mínima</label>
							</div>
						</div>
						<div class="col s6">
							<div class="input-field">
								<input id="qntdeAtualProduto" type="number" [(ngModel)]="qntde_atual" name="qntdeAtualProduto" >
								<label for="qntdeAtualProduto">Quantidade atual deste produto</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col s5">
					<div class="row">
 
        <div class="col-md-3">
 
            <h3>Select files</h3>
 
	            <div ng2FileDrop
	                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
	                 (fileOver)="fileOverBase($event)"
	                 [uploader]="uploader"
	                 class="well my-drop-zone">
	                Base drop zone
	            </div>
	 
	            <div ng2FileDrop
	                 [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
	                 (fileOver)="fileOverAnother($event)"
	                 [uploader]="uploader"
	                 class="well my-drop-zone">
	                Another drop zone
	            </div>
	 
	            Multiple
	            <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
	 
	            Single
	            <input type="file" ng2FileSelect [uploader]="uploader" />
	        </div>
	 
	        <div class="col-md-9" style="margin-bottom: 40px">
	 
	            <h3>Upload queue</h3>
	            <p>Queue length: {{ uploader?.queue?.length }}</p>
	 
	            <table class="table">
	                <thead>
	                <tr>
	                    <th width="50%">Name</th>
	                    <th>Size</th>
	                    <th>Progress</th>
	                    <th>Status</th>
	                    <th>Actions</th>
	                </tr>
	                </thead>
	                <tbody>
	                <tr *ngFor="let item of uploader.queue">
	                    <td><strong>{{ item?.file?.name }}</strong></td>
	                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
	                    <td *ngIf="uploader.isHTML5">
	                        <div class="progress" style="margin-bottom: 0;">
	                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
	                        </div>
	                    </td>
	                    <td class="text-center">
	                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
	                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
	                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
	                    </td>
	                    <td nowrap>
	                        <button type="button" class="btn btn-success btn-xs"
	                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
	                            <span class="glyphicon glyphicon-upload"></span> Upload
	                        </button>
	                        <button type="button" class="btn btn-warning btn-xs"
	                                (click)="item.cancel()" [disabled]="!item.isUploading">
	                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
	                        </button>
	                        <button type="button" class="btn btn-danger btn-xs"
	                                (click)="item.remove()">
	                            <span class="glyphicon glyphicon-trash"></span> Remove
	                        </button>
	                    </td>
	                </tr>
	                </tbody>
	            </table>
	 
	            <div>
	                <div>
	                    Queue progress:
	                    <div class="progress" style="">
	                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
	                    </div>
	                </div>
	                <button type="button" class="btn btn-success btn-s"
	                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
	                    <span class="glyphicon glyphicon-upload"></span> Upload all
	                </button>
	                <button type="button" class="btn btn-warning btn-s"
	                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
	                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
	                </button>
	                <button type="button" class="btn btn-danger btn-s"
	                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
	                    <span class="glyphicon glyphicon-trash"></span> Remove all
	                </button>
	            </div>
	 
	        </div>
	 
	    </div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="waves-effect waves-light btn red darken-1" name="action">{{!nome? 'Salvar' : 'Editar'}} e Cadastrar</button>
			<a class="modal-action modal-close waves-effect waves-light btn grey darken-4" (click)="closeModal()">Cancelar</a>
		</div>
	</form>
</div>