<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<a routerLink="/clientes" class="breadcrumb">Lista de Clientes</a>
			 <a [routerLink]="['/clientes', cliente._id]" class="breadcrumb">Detalhe do Cliente</a>
			<span class="breadcrumb">Editar Cliente</span>
		</div>
	</div>
</nav>
<div class="row">
	<div class="col 12">
		<form (submit)="updateCliente()">
			<div class="row">
				<div class="col s7">
					<div class="section"></div>
					<div class="row">
						<div class="col-s12">
							<div class="input-field">
								<input id="nome" type="text" (ngModelChange)=cliente.nome=$event"" [ngModel]="cliente?.nome" name="nome" required="" aria-required="true">
								<label for="nome">Nome do cliente</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-s6">
							<div class="input-field">
								<input id="representante" type="text" (ngModelChange)=cliente.representante=$event"" [ngModel]="cliente?.representante" name="representante">
								<label for="representante">Representante</label>
							</div>
						</div>
						<div class="col-s6">
							<div class="input-field">
								<input id="comprador" type="text" (ngModelChange)=cliente.comprador=$event"" [ngModel]="cliente?.comprador" name="comprador">
								<label for="comprador">Comprador</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<div class="input-field">
								<input id="cnpj" type="text" (ngModelChange)=cliente.cnpj=$event"" [ngModel]="cliente?.cnpj" name="cnpj" >
								<label for="cnpj">CNPJ</label>
							</div>
						</div>
						<div class="col s6">
							<div class="input-field">
								<input id="insc_estadual" type="text" (ngModelChange)=cliente.insc_estadual=$event"" [ngModel]="cliente?.insc_estadual" name="insc_estadual" >
								<label for="insc_estadual">Inscrição Estadual</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<div class="input-field">
								<input id="fone" type="text" (ngModelChange)=cliente.contato.fone=$event"" [ngModel]="cliente?.contato.fone" name="fone" >
								<label for="fone">Fone</label>
							</div>
						</div>
						<div class="col s4">
							<div class="input-field">
								<input id="celular" type="text" (ngModelChange)=cliente.contato.celular=$event"" [ngModel]="cliente?.contato.celular" name="celular" >
								<label for="celular">Celular</label>
							</div>
						</div>
						<div class="col s4">
							<div class="input-field">
								<input id="email" type="email" (ngModelChange)=cliente.contato.email=$event"" [ngModel]="cliente?.contato.email" name="email" >
								<label for="email">Email</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div class="input-field">
								<input id="logradouro" type="text" (ngModelChange)=cliente.endereco.logradouro=$event"" [ngModel]="cliente?.endereco.logradouro" name="logradouro" >
								<label for="logradouro">Logradouro</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<div class="input-field">
								<input id="numero" type="text" (ngModelChange)=cliente.endereco.numero=$event"" [ngModel]="cliente?.endereco.numero" name="numero" >
								<label for="numero">Número</label>
							</div>
						</div>
						<div class="col s4">
							<div class="input-field">
								<input id="complemento" type="text" (ngModelChange)=cliente.endereco.complemento=$event"" [ngModel]="cliente?.endereco.complemento" name="complemento" >
								<label for="complemento">Complemento</label>
							</div>
						</div>
						<div class="col s4">
							<div class="input-field">
								<input id="bairro" type="text" (ngModelChange)=cliente.endereco.bairro=$event"" [ngModel]="cliente?.endereco.bairro" name="bairro" >
								<label for="bairro">Bairro</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<div class="input-field">
								<input id="cidade" type="text" (ngModelChange)=cliente.endereco.cidade=$event"" [ngModel]="cliente?.endereco.cidade" name="cidade" >
								<label for="cidade">Cidade</label>
							</div>
						</div>
						<div class="col s4">
							<div class="input-field">
								<select id="estado" (ngModelChange)=cliente.endereco.estado=$event"" [ngModel]="cliente?.endereco.estado" name="estado" materialize="material_select" [materializeSelectOptions]="selectEstadoOptions">
								  <option value="" disabled selected>Estado</option>
								  <option *ngFor="let option of selectEstadoOptions" [value]="option.value">{{option.name}}</option>
								</select>
								<label for="estado"></label>
							</div>
						</div>
						<div class="col s4">
							<div class="input-field">
								<input id="cep" type="text" (ngModelChange)=cliente.endereco.cep=$event"" [ngModel]="cliente?.endereco.cep" name="cep" >
								<label for="cep">CEP</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col s5">
					<div class="section"></div>
					<div class="row">
						<div class="lista-images">
							<div class="col s3 center-align" *ngFor="let imgCliente of cliente.images">
								<a class="waves-effect waves-light btn grey darken-4" (click)="removeItemFotos(imgCliente)">
									<i class="material-icons">&#xE92B;</i>
								</a>
								<img src="{{ 'http://127.0.0.1:8080/uploads/' + imgCliente }}" class="responsive-img">
							</div>
							<div class="col s3 center-align" *ngFor="let item of uploader.queue">
								<a class="waves-effect waves-light btn grey darken-4" (click)="item.remove()">
									<i class="material-icons">&#xE92B;</i>
								</a>
								<!-- <img imgPreview [image]="item?._file" class="responsive-img"> -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div ng2FileDrop
				                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
				                 (fileOver)="fileOverBase($event)"
				                 [uploader]="uploader"
				                 class="drop-zone">
				                <i class="material-icons">&#xE439;</i>
				                <h4>Arraste e solte aqui</h4>
				                <h5>ou</h5>
				                <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
				            </div>
			            </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col 12">
					<button type="submit" class="waves-effect waves-light btn red darken-1" name="action">Editar e Salvar</button>
					<a class="modal-action modal-close waves-effect waves-light btn grey darken-4" routerLink="/clientes">Cancelar e Voltar</a>
				</div>
			</div>
		</form>
	</div>
</div>
<a (click)="triggerToast()" materialize [materializeActions]="globalActions"></a>