<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<a routerLink="/vendas" class="breadcrumb">Lista de Vendas</a>
			<span class="breadcrumb">Detalhe da Venda</span>
		</div>
	</div>
</nav>
<div class="row">
	<div class="col s12">
		<pre>{{ venda | json }}</pre>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<a class="waves-effect waves-light btn red darken-1" [routerLink]="['/vendas', venda._id, 'editar']">Editar</a>
		<a class="waves-effect waves-light btn grey darken-4" (click)="deleteVenda(venda)">Excluir e Voltar</a>
	</div>
</div>
<a (click)="triggerToast()" materialize [materializeActions]="globalActions"></a>