<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<span class="breadcrumb">Lista de Serviços</span>
			<div class="right">
				<a routerLink="novo" class="waves-effect waves-light btn red darken-1">Novo Serviço</a>
			</div>
		</div>
	</div>
</nav>
<!-- Sem nenhum serviço -->
<div class="row" *ngIf="!servicos.length">
	<div class="col s12">
		<div class="section"></div>
		<div class="center-align">
			<div class="grey-text text-lighten-2">
				<h2>Sem nenhum serviço aqui <br><small>clique em Novo Serviço</small></h2>
				<i class="material-icons big">&#xE814;</i>
			</div>
		</div>
	</div>
</div>
<div class="row" *ngIf="servicos.length">
	<div class="col s12">
		<form action="#">
			<table class="bordered highlight">
				<thead>
					<tr>
						<th data-field="check">
							<input type="checkbox" checked="checked" />
						</th>
						<th data-field="nome">Nome do Serviço</th>
						<th data-field="cidade">Valor</th>
						<th data-field="dataCriado">Data Criado</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let servico of servicos" [routerLink]="[servico._id]">
						<td><input type="checkbox"></td>
						<td>
							<img src="{{ ('http://127.0.0.1:8080/uploads/' || 'https://extinfire-backend-v2-muriloeduardo.c9users.io/uploads/') + (!servico?.images[0] ? 'sem-foto.jpg' : servico?.images[0]) }}" class="circle img-table">
							{{ servico?.nome }}
						</td>
						<td>R{{ servico?.valor_venda | currency:'USD':true:'1.2-2' || '---' }}</td>
						<td>{{ servico?.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }}</td>
						<td><i class="material-icons">&#xE315;</i></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>