<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<a routerLink="/usuarios" class="breadcrumb">Lista de Usuários</a>
			<span class="breadcrumb">Detalhe do Usuário</span>
		</div>
	</div>
</nav>
<!-- Botoes de ação -->
<div class="row">
	<div class="col s12 right-align">
		<a *ngIf="usuario._id!=usuarioLocalStorage._id" class="waves-effect waves-light btn red darken-1" [routerLink]="['/usuarios', usuario._id, 'editar']">Editar</a>
		<a *ngIf="usuario._id!=usuarioLocalStorage._id" class="waves-effect waves-light btn grey darken-4" (click)="deleteUsuario(usuario)">Excluir</a>
		<a class="waves-effect waves-light btn grey" routerLink="/usuarios">Cancelar</a>
	</div>
</div>
<div class="section"></div>
<div class="row">
	<div class="col s12">
		<!-- Nome do usuario -->
		<div class="row">
			<div class="col s12">
				<label>Nome</label>
				<h5>{{ usuario.nome }}</h5>
			</div>
		</div>
		<!-- Tipo do usuario -->
		<div class="row">
			<div class="col s12">
				<label>Tipo</label>
				<h5>{{ !usuario.tipo ? 'Comun' : 'Administrador' }}</h5>
			</div>
		</div>
		<!-- Email do usuario -->
		<div class="row">
			<div class="col s12">
				<label>Email</label>
				<h5>{{ usuario.email }}</h5>
			</div>
		</div>
	</div>
</div>
<a (click)="triggerToast()" materialize [materializeActions]="globalActions"></a>