<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<span class="breadcrumb">Lista de Logs</span>
		</div>
	</div>
</nav>
<!-- Sem nenhum log -->
<div class="row" *ngIf="!logs.length">
	<div class="col s12">
		<div class="section"></div>
		<div class="center-align">
			<div class="grey-text text-lighten-2">
				<h2>Sem nenhum log aqui</h2>
				<i class="material-icons big">&#xE814;</i>
			</div>
		</div>
	</div>
</div>
<div class="row" *ngIf="logs.length">
	<div class="col s12">
		<form action="#">
			<table class="bordered">
				<thead>
					<tr>
						<th data-field="nome">Usuário</th>
						<th data-field="cidade">Descrição</th>
						<th data-field="contato">Item</th>
						<th data-field="dataCriado">Data</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let log of logs | paginate: { itemsPerPage: 10, currentPage: p }">
						<td>{{ log.usuario || '---' }}</td>
						<td>{{ log.descricao || '---' }}</td>
						<td>{{ log.item || '---' }}</td>
						<td>{{ log.criadoEm  | date:'dd/MM/yyyy hh:mm:ss' }}</td>
					</tr>
				</tbody>
			</table>
			<pagination-controls 
			(pageChange)="p = $event" 
			previousLabel="Anterior"
            nextLabel="Próximo"
            ></pagination-controls>
		</form>
	</div>
</div>