<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<span class="breadcrumb">Lista de Vendas</span>
			<div class="right">
				<a routerLink="novo" class="waves-effect waves-light btn red darken-1">Nova Venda</a>
			</div>
		</div>
	</div>
</nav>
<!-- Carregando -->
<div class="row" *ngIf="!loadStatus">
	<div class="col s12">
		<div id="loader" class="preloader-wrapper big active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Sem nenhuma venda -->
<div class="row" *ngIf="!vendas.length&&loadStatus">
	<div class="col s12">
		<div class="section"></div>
		<div class="center-align">
			<div class="grey-text text-lighten-2">
				<h2>Sem nenhuma venda aqui <br><small>clique em Nova Venda</small></h2>
				<i class="material-icons big">&#xE814;</i>
			</div>
		</div>
	</div>
</div>
 orderBy: "{{ order }}":{{ reverse}}
<div class="row" *ngIf="vendas.length">
	<div class="col s12">
		<form action="#">
			<table class="bordered highlight">
				<thead>
					<tr class="orders">
						<th data-field="check">
							<input type="checkbox" checked="checked" />
						</th>
						<th 
						data-field="nome" 
						(click)="setOrder('cliente.nome')"
						[class.active]="order === 'cliente.nome'"
						>
							Nome do cliente
							<span [hidden]="reverse">
								<i class="material-icons right">&#xE5C5;</i>
							</span>
							<span [hidden]="!reverse">
								<i class="material-icons right">&#xE5C7;</i>
							</span>
						</th>
						<th 
						data-field="cidade" 
						(click)="setOrder('valor_total')"
						[class.active]="order === 'valor_total'"
						>
							Valor Total
							<span [hidden]="reverse">
								<i class="material-icons right">&#xE5C5;</i>
							</span>
							<span [hidden]="!reverse">
								<i class="material-icons right">&#xE5C7;</i>
							</span>
						</th>
						<th 
						data-field="tipo" 
						(click)="setOrder('tipo')"
						[class.active]="order === 'tipo'"
						>
							Tipo
							<span [hidden]="reverse">
								<i class="material-icons right">&#xE5C5;</i>
							</span>
							<span [hidden]="!reverse">
								<i class="material-icons right">&#xE5C7;</i>
							</span>
						</th>
						<th 
						data-field="obs" 
						(click)="setOrder('observacao')"
						[class.active]="order === 'observacao'"
						>
							Obs.
							<span [hidden]="reverse">
								<i class="material-icons right">&#xE5C5;</i>
							</span>
							<span [hidden]="!reverse">
								<i class="material-icons right">&#xE5C7;</i>
							</span>
						</th>
						<th 
						data-field="dataCriado" 
						(click)="setOrder('updatedAt')"
						[class.active]="order === 'updatedAt'"
						>
							Data Criado
							<span [hidden]="reverse">
								<i class="material-icons right">&#xE5C5;</i>
							</span>
							<span [hidden]="!reverse">
								<i class="material-icons right">&#xE5C7;</i>
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let venda of vendas | orderBy: order:reverse | paginate: { itemsPerPage: 10, currentPage: p }" [routerLink]="[venda._id]">
						<td><input type="checkbox"></td>
						<td>
							<img src="{{ ('http://127.0.0.1:8080/uploads/' || 'https://extinfire-backend-v2-muriloeduardo.c9users.io/uploads/') + (!venda.cliente.images[0] ? 'sem-foto.jpg' : venda.cliente.images[0]) }}" class="circle img-table">
							{{ venda.cliente.nome }}
						</td>
						<td>R{{ venda.valor_total | currency:'USD':true:'1.2-2' || '---' }}</td>
						<td>{{ (!venda.tipo?'Orçamento':'Pedido') || '---' }}</td>
						<td>{{ venda.observacao || '---' }}</td>
						<td>{{ venda.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }}</td>
						<td><i class="material-icons">&#xE315;</i></td>
					</tr>
				</tbody>
			</table>
			<pagination-controls 
			(pageChange)="p = $event" 
			previousLabel="Anterior"
            nextLabel="Próximo"
            *ngIf="vendas.length>9"
            ></pagination-controls>
		</form>
	</div>
</div>