nav .logotipo {
	height: 64px;
	padding: 0 15px;
}
nav .logotipo h5 {
	margin: 0;
	line-height: 64px;
}
.side-nav li * {
	color: #fff;
}
.side-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.collapsible-body {
	padding: 0;
}
.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
	padding: 0 52px;
}
header .container {
	width: 100%;
	max-width: 100%;
}
#dropdownMais {
	min-width: 200px;
}
header .dropdown-content li > a,
header .dropdown-content li > span {
	color: #e53935;
}
.side-nav li > a > i.material-icons.right {
	margin-right: 0;
	opacity: .3;
}
ul.collapsible.collapsible-accordion li.active a > i.material-icons.right {
	transform: rotate(180deg);
}
.name-label::after {
	content: attr(data-first-letter);
	text-align: center;
	font-size: 20px;
	line-height: 42px;
	text-transform: uppercase;
	height: 42px;
	width: 42px;
	margin: 11px 0 11px 15px;
	display: block;
	border-radius: 50%;
	float: right !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF !important;
	color: #F44336 !important;
}
a[data-activates='dropdownMais']::after {
	content: "\E145";
	font-family: 'Material Icons';
	display: block;
	font-size: 24px;
	height: 64px;
	line-height: 64px;
}
@media (min-width:769px) { 
	.nav-wrapper {
		padding-left: 240px;
	}
	.side-nav .collapsible-header,
	.side-nav.fixed .collapsible-header {
		padding: 0 32px;
	}
}
/*MOBILE*/
@media (max-width: 767px) {
	.name-label {
		max-width: 100px;
	}
	nav .logotipo {
		height: 56px;
	}
	nav .logotipo h5 {
		line-height: 56px;
	}
	.name-label:after {
		display: none;
	}
}