nav .logotipo {
	height: 64px;
	padding: 0 15px;
}
nav .logotipo h5 {
	margin: 0;
	line-height: 64px;
}
.side-nav li * {
	color: #fff;
}
.side-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
	padding: 0 32px;
}
.collapsible-body {
	padding: 0;
}
.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
	padding: 0 52px;
}
header .container {
	width: 100%;
	max-width: 100%;
}
#dropdownMais {
	min-width: 200px;
}
header .dropdown-content li > a,
header .dropdown-content li > span {
	color: #e53935;
}
.side-nav li > a > i.material-icons.right {
	margin-right: 0;
	opacity: .3;
}
ul.collapsible.collapsible-accordion li.active a > i.material-icons.right {
	transform: rotate(180deg);
}
.firs-letter-users {
	text-align: center;
	font-size: 20px;
	line-height: 42px;
	height: 42px;
	width: 42px;
	margin-left: 15px;
}