<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<a routerLink="/vendas" class="breadcrumb">Lista de Vendas</a>
			<a [routerLink]="['/vendas', venda._id]" class="breadcrumb">Detalhe da Venda</a>
			<span class="breadcrumb">Editar Venda</span>
		</div>
	</div>
</nav>
<form (submit)="updateVenda($event)">
	<!-- Botoes de ação -->
	<div class="row">
		<div class="col s12 right-align">
			<button type="submit" class="waves-effect waves-light btn red darken-1" name="action">Salvar e Cadastrar</button>
			<a class="modal-action modal-close waves-effect waves-light btn grey" [routerLink]="['/vendas', venda._id]">Cancelar e VOltar</a>
		</div>
	</div>
	<div class="section"></div>
	<div class="row">
		<div class="col s12">
			<div class="row">
				<div class="col s12">
					<div class="row valign-wrapper">
						<div class="col s8">
							<div class="row">
								<div class="col s1">
									<img [src]="baseUrl + 'uploads/' + (!venda.cliente.images[0] ? 'sem-foto.jpg' : venda.cliente.images[0])" alt="{{venda.cliente.nome}}" class="responsive-img circle img-table" title="{{venda.cliente.nome}}">
								</div>
								<div class="col s11">
									<div class="input-field">
										<select 
										id="cliente" 
										materialize="material_select" 
										[materializeSelectOptions]="clientes" 
										[(ngModel)]="venda.cliente._id" 
										name="cliente"
										>
										  <option value="" disabled selected>Selecione o cliente</option>
										  <option 
										  *ngFor="let cliente of clientes" 
										  [attr.data-icon]="baseUrl + 'uploads/' + (!cliente.images[0] ? 'sem-foto.jpg' : cliente.images[0])" 
										  [value]="cliente._id"
										  class="left circle"
										  >{{cliente.nome}}</option>
										</select>
										<label for="cliente">Selecione o cliente</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col s4 center-align">
							<!-- Switch -->
							<div class="switch">
								<label>
									Orçamento
									<input type="checkbox" [(ngModel)]="venda.tipo" name="tipo">
									<span class="lever"></span>
									Pedido (Baixa no estoque)
								</label>
							</div>
							<div class="section"></div>
						</div>
					</div>
					<!-- Sem nenhum serviço ou produtos -->
					<div class="row" *ngIf="!produtos?.length&&!servicos?.length">
						<div class="col s12">
							<div class="section"></div>
							<div class="center-align">
								<div class="grey-text text-lighten-2">
									<h2>Nenhum produto e/ou serviço cadastrado <br><small>necessário para adiciona-los a uma nova venda</small></h2>
									<i class="material-icons big">&#xE814;</i>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="venda.cliente._id&&(produtos?.length||servicos?.length)">
						<table class="bordered responsive-table">
							<thead>
								<tr>
									<th data-field="foto"></th>
									<th data-field="item">Produtos / Serviços</th>
									<th data-field="valor_venda">Valor Unitário</th>
									<th data-field="qntde">Quant.</th> 
									<th data-field="total">Total</th>
									<th data-field="validade">Validade</th>
									<th data-field="acoes" class="center-align">Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of venda.itens; let i = index">
									<td>
										<img [src]="baseUrl + 'uploads/' + (!venda.itens[i].item?.images[0] ? 'sem-foto.jpg' : venda.itens[i].item?.images[0])" alt="{{venda.itens[i].item.nome}}" class="responsive-img circle img-table" title="{{venda.itens[i].item.nome}}">
									</td>
									<td>
										{{ venda.itens[i].item.nome }}
									</td>
									<td>
										{{ venda.itens[i].item.valor_venda }}
									</td>
									<td>
										{{ venda.itens[i].qntde }}
									</td>
									<td>
										{{ venda.itens[i].total }}
									</td>
									<td>
										{{ venda.itens[i].validade }}
									</td>
									<td class="center-align">
										<a class="waves-effect waves-light btn red darken-1" (click)="editarRow(venda.itens[i])">Editar</a>
										<a class="waves-effect waves-light btn grey darken-4" (click)="deleteRow(venda.itens[i].item)">Excluir</a>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- ///////////////////////////////////////////////////// -->
						<!-- ///////////////// Novo Item ///////////////////////// -->
						<!-- ///////////////////////////////////////////////////// -->
						<table>
							<tbody>
								<tr>
									<td>
										<img [src]="baseUrl + 'uploads/' + (!novoItem.item?.images[0] ? 'sem-foto.jpg' : novoItem.item?.images[0])" alt="{{novoItem.item.nome}}" class="responsive-img circle img-table" title="{{novoItem.item.nome}}">
									</td>
									<td>
										<div class="input-field">
											<select 
											id="novoItem" 
											materialize="material_select" 
											[materializeSelectOptions]="itens" 
											[(ngModel)]="novoItem.item._id" 
											name="novoItem"
											(change)="setNovoItem()" 
											[attr.required]="novoItem.item.nome ? true : undefined"
											>
												<option value="" disabled selected>Selecione</option>
												<optgroup label="Produtos" *ngIf="produtos?.length">
													<option 
													*ngFor="let produto of produtos" 
													[value]="produto._id"
													[attr.data-icon]="baseUrl + 'uploads/' + (!produto.images[0] ? 'sem-foto.jpg' : produto.images[0])" 
													class="left circle"
													>{{produto.nome}}
													</option>
												</optgroup>
												<optgroup label="Servicos" *ngIf="servicos?.length">
													<option 
													*ngFor="let servico of servicos" 
													[value]="servico._id"
													[attr.data-icon]="baseUrl + 'uploads/' + (!servico.images[0] ? 'sem-foto.jpg' : servico.images[0])" 
													class="left circle"
													>{{servico.nome}}
													</option>
												</optgroup>
											</select>
										</div>
									</td>
									<td>
										<div class="input-field">
											<input 
											id="valor_venda" 
											class="decimal" 
											type="text" 
											[(ngModel)]="novoItem.item.valor_venda" 
											name="valor_venda{{i}}" 
											[attr.required]="novoItem.item.nome ? true : undefined"
											readonly="true" 
											[textMask]="{mask: maskMoney}"
											[disabled]="!novoItem.item.nome"
											>
											<label for="valor_venda">Valor unitário</label>
										</div>
									</td>
									<td>
										<div class="input-field">
											<input 
											id="qntde" 
											min="1" 
											[max]="novoItem.item.qntde_atual" 
											type="number" 
											(change)="sumNovo()" 
											[(ngModel)]="novoItem.qntde" 
											name="qntde" 
											[attr.required]="novoItem.item.nome ? true : undefined"
											[disabled]="!novoItem.item.nome"
											>
											<label for="qntde">Quantidade</label>
										</div>
									</td>
									<td>
										<div class="input-field">
											<input 
											id="total" 
											class="decimal" 
											type="text" 
											[(ngModel)]="novoItem.total" 
											name="total" 
											readonly="true" 
											[attr.required]="novoItem.item.nome ? true : undefined"
											[textMask]="{mask: maskMoney}"
											[disabled]="!novoItem.item.nome"
											>
											<label for="total">Valor total</label>
										</div>
									</td>
									<td>
										<div class="input-field">
											<label for="validade">Validade deste produto</label>
											<input 
											id="validade" 
											materialize="pickadate" 
											[materializeParams]="[paramsPickdate]"
											type="date" 
											[(ngModel)]="novoItem.validade" 
											name="validade" 
											[attr.required]="novoItem.item.nome ? true : undefined"
											[disabled]="!novoItem.tipo || !novoItem.item.nome"
											>
										</div>
									</td>
									<td>
										<a class="right waves-effect waves-light btn red darken-1" (click)="addItem()" [class.disabled]="!novoItem.item.nome">Salvar</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row valign-wrapper">
							<div class="col s8">
								<div class="input-field">
									<textarea 
									id="observacoes" 
									class="materialize-textarea" 
									data-length="120" 
									[(ngModel)]="venda.observacao" 
									name="observacao"
									></textarea>
									<label for="observacoes">Observações</label>
								</div>
							</div>
							<div class="col s4 center-align">
								<h5>Valor Total</h5>
								<h4>{{ valorTotal() || '0' | currencyformat }}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<a (click)="triggerToast()" materialize [materializeActions]="globalActions"></a>