<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<a routerLink="/servicos" class="breadcrumb">Lista de Serviços</a>
			<a [routerLink]="['/servicos', servico._id]" class="breadcrumb">Detalhe do Serviço</a>
			<span class="breadcrumb">Editar Serviço</span>
		</div>
	</div>
</nav>
<!-- Carregando -->
<div class="row" *ngIf="!loadStatus">
	<div class="col s12">
		<div id="loader" class="preloader-wrapper big active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<form (submit)="updateServico()" *ngIf="loadStatus">
	<!-- Botoes de ação -->
	<div class="row">
		<div class="col s12 right-align">
			<button type="submit" class="waves-effect waves-light btn red darken-1" name="action">Salvar e Editar</button>
			<a class="waves-effect waves-light btn grey" [routerLink]="['/servicos', servico._id]">Cancelar e Voltar</a>
		</div>
	</div>
	<div class="section"></div>
	<div class="row">
		<div class="col s12">
			<div class="row">
				<div class="col s7">
					<div class="section"></div>
					<div class="row">
						<div class="col s12">
							<div class="input-field">
								<input id="nomeNovoServico" type="text" [(ngModel)]="servico.nome" name="nomeNovoServico" required="" aria-required="true">
								<label for="nomeNovoServico">Nome do Serviço</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div class="input-field">
								<input id="valorVendaServico" type="text" [(ngModel)]="servico.valor_venda" name="valorVendaServico" required="" class="decimal" aria-required="true" [textMask]="{mask: maskMoney}">
								<label for="valorVendaServico">Valor</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col s5">
					<div class="section"></div>
					<div class="row">
						<div class="lista-images">
							<div class="col s3 center-align" *ngFor="let imgCliente of servico.images">
								<a class="waves-effect waves-light btn grey darken-4" (click)="removeItemFotos(imgCliente)">
									<i class="material-icons">&#xE92B;</i>
								</a>
								<img src="{{ baseUrl + 'uploads/' + imgCliente }}" class="responsive-img">
							</div>
							<div class="col s3 center-align" *ngFor="let item of uploader.queue">
								<a class="waves-effect waves-light btn grey darken-4" (click)="item.remove()">
									<i class="material-icons">&#xE92B;</i>
								</a>
								<img imgPreviewServico [image]="item?._file" class="responsive-img">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div ng2FileDrop
				                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
				                 (fileOver)="fileOverBase($event)"
				                 [uploader]="uploader"
				                 class="drop-zone">
				                <i class="material-icons">&#xE439;</i>
				                <h4>Arraste e solte aqui</h4>
				                <h5>ou</h5>
				                <div class="file-field input-field">
									<div class="btn red darken-1">
										<span>Imagens</span>
										<input type="file" ng2FileSelect [uploader]="uploader" multiple>
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text" placeholder="Upload de uma ou mais imagens">
									</div>
								</div>
				            </div>
			            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<a (click)="triggerToast()" materialize [materializeActions]="globalActions"></a>