<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<span class="breadcrumb">Lista de Usuários</span>
			<div class="right">
				<a routerLink="novo" class="waves-effect waves-light btn red darken-1">Novo Usuário</a>
			</div>
		</div>
	</div>
</nav>
<!-- Carregando -->
<div class="row" *ngIf="!loadStatus">
	<div class="col s12">
		<div id="loader" class="preloader-wrapper big active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" *ngIf="usuarios.length">
	<div class="col s12">
		<form action="#">
			<table class="bordered highlight">
				<thead>
					<tr>
						<th data-field="check">
							<input type="checkbox" checked="checked" />
						</th>
						<th data-field="nome">Usuário</th>
						<th data-field="qntdeMinima">Tipo</th>
						<th data-field="qntdeAtual">Email</th>
						<th data-field="data">Data</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 10, currentPage: p }" [routerLink]="[usuario._id]">
						<td><input type="checkbox"></td>
						<td class="valign-wrapper">
							<div class="firs-letter-users circle red darken-1 valign">
								{{ usuario.nome.charAt(0) }}
							</div>
							<div class="valign">
								{{ usuario.nome }}
							</div>
						</td>
						<td>{{ !usuario.tipo ? 'Comun' : 'Administrador' }}</td>
						<td>{{ usuario.local.email }}</td>
						<td>{{ usuario.updatedAt }}</td>
						<td><i class="material-icons">&#xE315;</i></td>
					</tr>
				</tbody>
			</table>
			<pagination-controls 
			(pageChange)="p = $event" 
			previousLabel="Anterior"
            nextLabel="Próximo"
            *ngIf="usuarios.length>9"
            ></pagination-controls>
		</form>
	</div>
</div>