.firs-letter-users {
	color: #fff;
	text-align: center;
	font-size: 20px;
	line-height: 42px;
	height: 42px;
	width: 42px;
	margin-right: 5px;
}
.collection .collection-item.avatar .secondary-content .switch {
	margin: 7px;
}