<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<span class="breadcrumb">Painel de Controle</span>
		</div>
	</div>
</nav>
<!-- Carregando -->
<div class="row" *ngIf="!loadStatus">
	<div class="col s12">
		<div id="loader" class="preloader-wrapper big active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="loadStatus">
	<div class="row">
		<div class="col s6">
			<h5>Produtos com estoque abaixo do mínimo</h5>
			<div class="divider"></div>
			<div class="section"></div>
			<div *ngFor="let produto of produtos">
				<div class="col s4" *ngIf="produto.qntde_atual <= produto.qntde_minima">
					<a [routerLink]="['/produtos', produto._id, 'editar']">
						<div *ngIf="(produto.qntde_atual <= 0) || (produto.qntde_atual > 0&&produto.qntde_atual < produto.qntde_minima)" class="card-panel white-text hoverable" [ngClass]="{'red': produto.qntde_atual <= 0, 'orange': produto.qntde_atual > 0&&produto.qntde_atual < produto.qntde_minima}">
							<div class="row">
								<div class="col s8">
									<p>{{ produto.nome }}</p>
									<h5 *ngIf="produto.qntde_atual <= 0">Acabou!</h5>
									<h5 *ngIf="produto.qntde_atual > 0">Está acabando! Ainda restam {{ produto.qntde_atual }}</h5>
								</div>
								<div class="col s4 right-align">
									<h3>{{ produto.qntde_atual }}<small> un</small></h3>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col s6">
			<h5>Produtos que irão vencer</h5>
			<div class="divider"></div>
			<div class="section"></div>
		</div>
		<!-- Sem nenhum aviso de produtos -->
		<div class="row" *ngIf="!produtos.length&&loadStatus">
			<div class="col s12">
				<div class="section"></div>
				<div class="center-align">
					<div class="grey-text text-lighten-2">
						<h2>Sem nenhum aviso de produtos <br><small>Parabéns!</small></h2>
						<i class="material-icons big">&#xE7F2;</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>