<div class="search-box">
	<div class="input-field">
		<input id="search" type="search" (focus)="load()" required [(ngModel)]="search.nome" placeholder="Procurar por..." [ngClass]="{ 'focus': search.nome }">
		<label class="label-icon" for="search">
			<i class="material-icons">&#xE8B6;</i>
		</label>
		<i class="material-icons" (click)="search.nome=undefined">&#xE5CD;</i>
	</div>
    <div id="search-content-data" class="z-depth-3" *ngIf="search.nome" (blur)="focusSearch = !focusSearch">
	    <!-- Serviços -->
	    <ul class="collection with-header" *ngIf="(servicos | filterBy: search).length !== 0">
			<a routerLink="servicos" class="collection-header red-text text-darken-1"><h5>Serviços</h5></a>
			<a class="collection-item avatar black-text text-darken-4" *ngFor="let servico of servicos | filterBy: search" [routerLink]="['servicos', servico._id]">
				<img src="{{ 'http://127.0.0.1:8080/uploads/' + (!servico?.images[0] ? 'sem-foto.jpg' : servico?.images[0]) }}" alt="" class="circle">
				<div class="left">
					<span class="title">{{ servico.nome }}</span>
					<p class="second-title">{{ servico.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }}</p>
				</div>
				<span class="secondary-content red-text text-darken-4">
					<i class="material-icons">&#xE315;</i>
				</span>
			</a>
		</ul>
		<!-- Produtos -->
		<ul class="collection with-header" *ngIf="(produtos | filterBy: search).length !== 0">
			<a routerLink="produtos" class="collection-header red-text text-darken-1"><h5>Produtos</h5></a>
			<a class="collection-item avatar black-text text-darken-4" *ngFor="let produto of produtos | filterBy: search" [routerLink]="['produtos', produto._id]">
				<img src="{{ 'http://127.0.0.1:8080/uploads/' + (!produto?.images[0] ? 'sem-foto.jpg' : produto?.images[0]) }}" alt="" class="circle">
				<div class="left">
					<span class="title">{{ produto.nome }}</span>
					<p class="second-title">{{ produto.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }}</p>
				</div>
				<span class="secondary-content red-text text-darken-4">
					<i class="material-icons">&#xE315;</i>
				</span>
				<div 
				*ngIf="(produto.qntde_atual <= 0) || (produto.qntde_atual > 0&&produto.qntde_atual < produto.qntde_minima)" 
				class="chip white-text secondary-content" 
				[ngClass]="{'red text-white': produto.qntde_atual <= 0, 'orange text-white': produto.qntde_atual > 0&&produto.qntde_atual < produto.qntde_minima}"
				>
					<h6 *ngIf="produto.qntde_atual <= 0">Acabou!</h6>
					<h6 *ngIf="produto.qntde_atual > 0&&produto.qntde_atual < produto.qntde_minima">Está Acabando</h6>
				</div>
			</a>
		</ul>
		<!-- Clientes -->
		<ul class="collection with-header" *ngIf="(clientes | filterBy: search).length !== 0">
			<a routerLink="clientes" class="collection-header red-text text-darken-1"><h5>Clientes</h5></a>
			<a class="collection-item avatar black-text text-darken-4" *ngFor="let cliente of clientes | filterBy: search" [routerLink]="['clientes', cliente._id]">
				<img src="{{ 'http://127.0.0.1:8080/uploads/' + (!cliente?.images[0] ? 'sem-foto.jpg' : cliente?.images[0]) }}" alt="" class="circle">
				<div class="left">
					<span class="title">{{ cliente.nome }}</span>
					<p class="second-title">{{ cliente.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }}</p>
				</div>
				<span class="secondary-content red-text text-darken-4">
					<i class="material-icons">&#xE315;</i>
				</span>
			</a>
		</ul>
		<!-- Vendas -->
		<ul class="collection with-header" *ngIf="(vendas | filterBy: search).length !== 0">
			<a routerLink="vendas" class="collection-header red-text text-darken-1"><h5>Vendas</h5></a>
			<a class="collection-item avatar black-text text-darken-4" *ngFor="let venda of vendas | filterBy: search" [routerLink]="['vendas', venda._id]">
				<img src="{{ 'http://127.0.0.1:8080/uploads/' + (!venda.cliente.images[0] ? 'sem-foto.jpg' : venda.cliente.images[0]) }}" alt="" class="circle">
				<div class="left">
					<span class="title">Venda para {{ venda.nome }}</span>
					<p class="second-title">{{ venda.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }}</p>
				</div>
				<span class="secondary-content red-text text-darken-4">
					<i class="material-icons">&#xE315;</i>
				</span>
			</a>
		</ul>
		<!-- Usuarios -->
		<ul class="collection with-header" *ngIf="(usuarios | filterBy: search).length !== 0">
			<a routerLink="usuarios" class="collection-header red-text text-darken-1"><h5>Usuários</h5></a>
			<a class="collection-item avatar black-text text-darken-4" *ngFor="let usuario of usuarios | filterBy: search" routerLink="usuarios">
				<div class="firs-letter-users circle red darken-1 valign">
					{{ usuario.nome.charAt(0) }}
				</div>
				<div class="left">
					<span class="title">{{ usuario.nome }}</span>
					<p class="second-title">{{ usuario.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }}</p>
				</div>
				<span class="secondary-content red-text text-darken-4">
					<i class="material-icons">&#xE315;</i>
				</span>
			</a>
		</ul>
		<!-- Logs -->
		<ul class="collection with-header" *ngIf="(logs | filterBy: search).length !== 0">
			<a routerLink="logs" class="collection-header red-text text-darken-1"><h5>Logs</h5></a>
			<a class="collection-item avatar black-text text-darken-4" *ngFor="let log of logs | filterBy: search" routerLink="logs">
				<div class="firs-letter-users circle black darken-4 valign">
					{{ log.nome.charAt(0) }}
				</div>
				<div class="left">
					<span class="title">{{ log.usuario + ' ' + log.nome }}</span>
					<p class="second-title">{{ log.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }}</p>
				</div>
				<span class="secondary-content red-text text-darken-4">
					<i class="material-icons">&#xE315;</i>
				</span>
			</a>
		</ul>
	</div>
</div>