<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<span class="breadcrumb">Lista de Clientes</span>
			<div class="right">
				<a routerLink="novo" class="waves-effect waves-light btn red darken-1">Novo Cliente</a>
			</div>
		</div>
	</div>
</nav>
<!-- Sem nenhum cliente -->
<div class="row" *ngIf="!clientes.length">
	<div class="col s12">
		<div class="section"></div>
		<div class="center-align">
			<div class="grey-text text-lighten-2">
				<h2>Sem nenhum cliente aqui <br><small>clique em Novo Cliente</small></h2>
				<i class="material-icons big">&#xE814;</i>
			</div>
		</div>
	</div>
</div>
<div class="row" *ngIf="clientes.length">
	<div class="col s12">
		<form action="#">
			<table class="bordered highlight">
				<thead>
					<tr>
						<th data-field="check">
							<input type="checkbox" checked="checked" />
						</th>
						<th data-field="nome">Cliente</th>
						<th data-field="cidade">Cidade</th>
						<th data-field="contato">Contato</th>
						<th data-field="dataCriado">Data Criado</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let cliente of clientes" [routerLink]="[cliente._id]">
						<td><input type="checkbox"></td>
						<td>
							<img src="{{ ('http://127.0.0.1:8080/uploads/' || 'https://extinfire-backend-v2-muriloeduardo.c9users.io/uploads/') + (!cliente.images[0] ? 'sem-foto.jpg' : cliente.images[0]) }}" class="circle img-table">
							{{ cliente.nome }}
						</td>
						<td>{{ cliente.endereco?.cidade || '---' }}</td>
						<td>{{ cliente.contato?.celular || '---' }}</td>
						<td>{{ cliente.updatedAt  | date:'dd/MM/yyyy hh:mm:ss' }}</td>
						<td><i class="material-icons">&#xE315;</i></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>