<section>
	<div class="section"></div>
	<div class="row">
		<div class="col s12">
			<h4>Lucro em estoque</h4>
			<div class="divider"></div>
			<div class="section"></div>
		</div>
	</div>
</section>
<section>
	<div class="section"></div>
	<div class="row">
		<div class="col s12">
			<h4>Serviços</h4>
			<div class="divider"></div>
			<div class="section"></div>
		</div>
	</div>
</section>
<section>
	<div class="section"></div>
	<div class="row">
		<div class="col s12">
			<h4>Faturamentos</h4>
			<div class="divider"></div>
			<div class="section"></div>
		</div>
	</div>
</section>