<nav class="header-pages white">
	<div class="nav-wrapper">
		<div class="col s12">
			<span class="breadcrumb">Faturamento</span>
		</div>
	</div>
</nav>
<div class="row">
	<div class="col s12">
		<h5>Faturamento por Datas</h5>
		<div class="divider"></div>
		<div class="section"></div>
		<!-- Init Chart -->
		<div class="row">
		  <div class="col s12">
		    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
            </canvas>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<div class="row">
			<div class="col s4">
				<h5>Lucro Total em Estoque</h5>
				<div class="divider"></div>
				<div class="section"></div>
				R{{ lucroTotalEstoque | currency:'USD':true:'1.2-2' }}
			</div>
			<div class="col s4">
				<h5>Faturamento Total</h5>
				<div class="divider"></div>
				<div class="section"></div>
				R{{ faturamentoTotal | currency:'USD':true:'1.2-2' }}
			</div>
		</div>
	</div>
</div>